h1,h2,h3{
  margin-bottom: 2px;
  margin-top:2px;
}

html{
  height:100vh;
  max-height:100vh;
  max-width: 100vw;
}

body{
  padding:0px;
  margin:0px;
}

.data{
  width:90%;
}

.leftSide{
  width:33vw;
  min-width: 175px;
  overflow: hidden;
  padding-left:10px;
  padding-right:10px;
  margin-left:auto;
  background-color: white;
}

.middleColumn{
  width:20vw;
  min-width: 280px;
  background-color:#c5b9d5;
  padding-right:10px;
  padding-left:10px;
  overflow: auto;

}
.rightSide{
  width:47vw;
  min-width: 200px;
  height:90vh;
  padding-right:10px;
  overflow: auto;
  padding-left:10px;
  background-color: white;
  margin-right: auto;
}

.MiddleOfPage{
  width:100vw;
  display:flex;
  height:90vh;
  flex-wrap: nowrap;
}
.Seperator{
  margin-top:5px;
  width:100%;
  padding-top:10px;
}

#modelFile{
  width:95%;
  height:70vh;
  min-height: 340px;
}

.previewText{
  height:200;
}

.TopOfPage{
  width:100vw;
  min-width: 710px;
  font-size: 24px;
  color:white;
  height: 5vh;
  min-height: 30px;
  background-color: #311557;
  text-align: center;
}



.BottomOfPage{
  color:white;
  font-size: 16px;
  width:100vw;
  height:5vh;
  text-align: center;
  background-color: #311557;
}

.TopOfPage button{
  float: right;
  background-color:#c5b9d5;
}

.App{
  padding:0px;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 710px;
  background-color:#1c053a;
  overflow: auto;
  width:100vw;
}

#root{
  padding:0px;
  margin:0px;
  min-height: 100vh;
  max-height: 100vh;
}

.leftTop{
  height:30vh;
  min-height: 215px;
}
.ProcessPanel{
  padding-top:50px;
  overflow: auto;
  height:55vh;
  border:solid 1px black;
  border-radius: 5px;
  padding:10px;
}

.processData{
  padding:10px;
  margin-bottom:10px;
  border:solid 1px #301557;
  color:white;
  border-radius:5px;
  background-color:#311557;
  font-size: 12px;
}

.processData h3{
  text-align: center;
  color: #c5b9d5;
  font-size: 16px;
}

.hidden{
  display:none;
}

button{
  margin:5px;
  padding:5px;
  background-color: #c5b9d5;
  font-size: 14px;
  border-radius: 5px;
}

.TopOfPage button{
  height:30px;
  padding:1px;
  margin:0px;
  border-radius: 0px;
}

input{
  height:25px;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top:.5em;
}

p{
  color:#555;
  margin-top:2px;
  padding-left:10px;
}

